<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    </configSections>
    <castle>
        <facilities>
            <facility id="startable" type="Castle.Facilities.Startable.StartableFacility, Castle.Windsor" />
            <facility id="Core" type="Core.Facility, Core" />
            <facility id="SqlServer" type="SqlServer.Facility, SqlServer" />
        </facilities>
    </castle>
</configuration>